body{
    background-color: #A9A9A9;
}

body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
    margin-top: 80px;
    background-color: #A9A9A9;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #5F9EA0;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #008B8B;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #DCDCDC;
}

input[type=submit]{
    width: 20%;
    background-color: #008B8B;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border:  1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   blue;
    margin-left: 5px;
}

.hide{
    display:none;
}